.App {
  text-align: center;
  background-color: #eee;
  height: 100vh;
  font-family: 'Rubik', sans-serif;
}

.title {
  text-decoration: none;
}
.title:hover {
  text-decoration: underline;
}

.btn{
  text-transform: none !important;
  text-decoration: none;
  color: blue !important;
  border-color: blue !important;
  cursor: pointer;
}

.btn-color{
  background-color: blue !important;
  color: white !important;
  font-weight: 800;
}

.outline {
  outline: none;
}

.outline:hover,.outline:focus{
  outline: none;
}